/*normalize*/
*{
    padding: 0;
    margin:0;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

/*skins*/
.bulls .site-header{
    background:#740b27;
}

.bulls .main-navigation{
    background: #aa123b;
}

.bulls .main-menu .current{
    background: #d31145;;
}

.bulls .site{
    background: #cd1141 url(img/bulls-bg.jpg) center 200px no-repeat;
}


.lakers .site-header{
    background: #441471;
}

.lakers .main-navigation{
    background: #552582;
}

.lakers .main-menu .current{
    background: #652A9C;;
}

.lakers .site{   

    background: #562581 url(img/lakers-bg.jpg) center 200px no-repeat;
}




.site{
    position: relative;
}


/*main css start*/

.site-branding{
    padding-top:20px;
    padding-bottom: 20px;
}

.skip-link{
    position: fixed;
    z-index: 9999;
    right:20px;
    bottom: 20px;
}


.main-navigation{
    height: 60px;
    line-height: 60px;
    background-color: #860038;
    position: relative;
}


.sliders{
    position: relative;
    height: 440px;
    margin-top: 20px;
    overflow: hidden;
    background: black;
}



.widget-title,
.panel-title{
    height: 39px;
    line-height: 39px;
    text-indent: 20px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #be9d53;
    background: #1e518c;
    z-index: 103;
    margin:0;
    margin-top: 20px;
    color:#fff;
}


.widget{
    border-top: 0 none;
    margin-top: 20px;
    background: #fff;
}

.widget .wiget-title{
    margin-top: 0;
}

.widget_categories ul,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_meta ul,
.widget_archive ul{
    padding: 20px;
    list-style: none;
    border:1px solid #eaeaea;
    border-top: 0 none;
}


#recentcomments{
    background: #fafafa;
}

#recentcomments li{
    margin: 5px 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}


.grid-wrapper{
    padding: 3px;
    background: #fff;
}

.grid-wrapper img{
    max-width: 100%;
    min-height: 100px;
}

.grid-wrapper a{
    display: block;
    background: #fff;
    margin-bottom: 10px;
}

.grid-wrapper a span{
    position: absolute;
    margin-right: 15px;
    padding: 3px;
    bottom: 10px;
    display: none;
    color:#fff;
}

.grid-wrapper a:hover span{
    display: block;
}

.grid-wrapper a:hover img{
    opacity: .5;
}






.post-list{
    box-shadow: 0 4px 4px #ebebeb;
    -moz-box-shadow: 0 4px 4px #ebebeb;
    -ms-box-shadow: 0 4px 4px #ebebeb;
    -webkit-box-shadow: 0 4px 4px #ebebeb;
    border: 1px solid #d6d6d6;
    background:#fff;
}

.post-wrap{
    position: relative;
    box-shadow: 0 3px 6px #ebebeb;
    -moz-box-shadow: 0 3px 6px #ebebeb;
    -ms-box-shadow: 0 3px 6px #ebebeb;
    -webkit-box-shadow: 0 3px 6px #ebebeb;
    margin-top: 20px;
    height: 220px;
}

.ppost{
    padding: 20px;
    padding-top:0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
    height: 200px;
}



.post-wrap a{
    text-decoration: none;
    color:#000;
}

.pphover{
    position: absolute;
    left: -6px;
    top: 0;
    right:-6px;
    background: #f4faff;
    padding: 0 26px 20px 26px;
    box-shadow: 0 0 10px 4px #ebebeb;
    -moz-box-shadow: 0 0 10px 4px #ebebeb;
    -ms-box-shadow: 0 0 10px 4px #ebebeb;
    -webkit-box-shadow: 0 0 10px 4px #ebebeb;
    border-top: 1px solid #f4faff;
    border-bottom: 1px solid #f4faff;
}



.ptitle{
    line-height: 52px;
    height: 52px;
    overflow: hidden;
    font-size: 20px;
    margin:0;
}


.post-thumbnail{
    max-width: 140px;
    float:left;
}

.post-excerpt{
    margin-left: 160px;
    max-height: 110px;
    overflow: hidden;
}

.entry-footer{
    clear:both;
    padding-top: 10px;
    font-size: 14px;
    color:#7a7a7a;
}

.fr{
    float:right;
}

.fl{
    float: left;
}


.main-menu{
    line-height: 60px;
}

.main-menu li{
    float: left;
    list-style: none;
}

.main-menu li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
}



.main-menu li.swither-icon{
    float:right;
    width:40px;
    height: 60px;
    background: url(img/theme-icon.png) 50% 50% no-repeat;
}

.swither-icon a{
    display: block;
    width:100%;
    height: 50px;
    text-indent: 1000px;
    overflow: hidden;
}



.single-post{
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}

.single-post .entry-header{
    border-bottom: 1px dotted #dbdbdb;
}

.entry-content p{
    margin:20px 0;
    text-indent: 2em;
    line-height: 28px;
}

.entry-content img{
    margin:0 auto;
    max-width: 99%;
}

.entry-content p img{
    margin:0 auto;
    max-width: 99%;
    margin-left: -32px;
}





.site-footer{
    background: #333;
    margin-top: 20px;
}

.footer-menus{
    padding-bottom: 20px;
    background: url(img/foot_line_bg.png) repeat-x bottom;
}


.fmenu-title{
    height: 65px;
    line-height: 65px;
    color: #fff;
    font-size: 16px;
    display: block;
}

.fmenu ul li{
    margin-bottom: 5px;
    color: #7a7a7a;
    font-size: 14px;
    display: block;
    list-style: none;
}

.footer-copyright{
    padding: 30px 0;
    line-height: 30px;
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
    font-family: "Microsoft YaHei";
}



/* comments */

.comments-area{
    padding: 10px;
    background:#fff;
}

.comment-respond{
    margin-top: 10px;
}

.comment{
    border-bottom:1px solid #DDD;
    list-style: none;
    margin: 5px 0;
}

.comment:hover{
    background: ghostwhite;
}

.comment.thread-even.parent{
    background: #fafafa;
}

.comment-reply-link,
.comment-metadata{
    font-size: 11px;
    color:grey;
}

ol.children{
    border-top:1px solid #DDD;
}

.comment.depth-2,
.comment.depth-3{
    margin-left: 40px;
    border-bottom: 0 none;
}


.comments-title,
.comment-reply-title{
    font-size: 24px;
    line-height: 36px;
    border-bottom: 3px double #1e518c;
}

.comment-notes{
    font-size: 11px;
    color:grey;
    margin: 5px 0;
}

.comment-form label{
    display: block;
    margin: 5px 0;
}

textarea#comment{
    width:98%;
    min-height: 100px;
    max-height: 160px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    float: left;
    width:49%;
}

.comment-form-author input,
.comment-form-email input{
    width:100%;
}


.comment-form-url{
    display: none;
}

.form-submit{
    clear: both;
    padding-top: 10px;
}

.form-submit .submit{
    background: #379BE9;
    padding:10px;
    border:0 none;
    text-align: center;
    color:#fff;
}



/*widgets*/

.media-wrap{
}

.media-image{
    width:30%;
    float: left;
    padding: 8px;
}
.media-image img{
    width:100%;
    max-height: 80px;
}

.media-title{
    width:69%;
    padding: 8px;
    float: left;
    font-size: 14px;
}

.media-summary{
    height: 80px;
    overflow: hidden;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #e5e5e5;
}

.media-summary:hover{
    background: #edf1f4;
    border-left-color: #1377c3;
}





@media (max-width: 500px){
    .site-branding{
        text-align: center;
    }

    .fmenu{
        text-align: center;
    }
}


/* posts navigation */
.posts-navigation{
    background: #fff;
    margin: 10px 0;
    padding: 10px;
}


.box-title{
    text-align: center;
    line-height: 36px;
    font-weight: 400;
    color: #454545;
    font-size: 16px;
    background: url(img/navbg.png) no-repeat 50% center;
}

.prev-post,
.next-post{
    font-size: 16px;
    height: 100px;
}

.prev-page img{ 
    margin-right: 10px;
    float: left;
}

.prev-post label,
.next-post label{
    display: block;
    font-size: 11px;
    color:gray;
}

.prev-post img{
    margin-right: 10px;
    float: left;
    position: relative;
    top:-30px;
}

.next-page,
.next-post{
    text-align: right;
    vertical-align: middle;
}

.prev-page,
.next-page{
    line-height: 100px;
    font-size: 24px;
}

.next-post img{
    float:right;
    margin-left: 10px;
    position: relative;
    top:-20px;
}

.next-page img{
    float:right;
    margin-left: 10px;
    position: relative;
}


/* theme switcher */

li.swither-icon{
    float:right;
    width:70px;
    height: 60px;
    background: url(img/theme-icon.png) 50% 50% no-repeat;
    cursor: pointer;
}

li.swither-icon:hover{
    background: url(img/theme-icon.png) 50% 52% no-repeat;
}



.nav-team {
    position: absolute;
    top:60px;
    left: 0;
    right:0;
    border: 2px solid #002f50;
    background: #fff;
    z-index: 999;
    display: none;
}

.east-team {
    /* border-left: 2px solid #002f50; */
    float: left;
    list-style:none;
}

.west-team {
    /* border-right: 2px solid #002f50; */
    float: left;
    list-style:none;
}

.east-team .team-title {
    border-right: 1px solid #072840
}

.west-team .team-title {
    border-left: 1px solid #072840
}

.east-team li {
    border-right: 1px solid #e5e5e5
}

.west-team li {
    border-left: 1px solid #e5e5e5
}

li.gray {
    background: #f5f5f5
}

.team-title {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #002f50
}

.team-area {
    height: 40px
}

.team-area span {
    width: 33%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    float: left
}

.team-list {
    height: 70px
}

.team-list a:hover {
    background-color: #e5e5e5
}

.team-list a {
    padding-left: 101px;
    width: 33%;
    height: 70px;
    line-height: 70px;
    color: #2866b6;
    font-size: 14px;
    background: url(img/homepageteamlogos.png) no-repeat;
    float: left;
}

@media(max-width:768px){
    .team-list a {
        text-indent: -2000em;
    }

    .nav-team .team-list a{
        background-position-x: -10px!important;
        padding-left: 20px;
    }
    .team-area span{
        font-size: 11px;
        overflow: hidden;
    }
}

.team-list a.label-hornets {
    background-position: 25px -922px
}

.team-list a.label-cavaliers {
    background-position: 28px -492px
}

.team-list a.label-raptors {
    background-position: 26px -330px
}

.team-list a.label-hawks {
    background-position: 27px -839px
}

.team-list a.label-bulls {
    background-position: 31px -418px
}

.team-list a.label-knicks {
    background-position: 27px -167px
}

.team-list a.label-wizards {
    background-position: 29px -1170px
}

.team-list a.label-pistons {
    background-position: 27px -572px
}

.team-list a.label-celtics {
    background-position: 28px -8px
}

.team-list a.label-magic {
    background-position: 26px -1084px
}

.team-list a.label-pacers {
    background-position: 27px -651px
}

.team-list a.label-nets {
    background-position: 28px -93px
}

.team-list a.label-heat {
    background-position: 27px -1006px
}

.team-list a.label-bucks {
    background-position: 29px -740px
}

.team-list a.label-sixers {
    background-position: 29px -248px
}

.team-list a.label-warriors {
    background-position: 28px -1667px
}

.team-list a.label-jazz {
    background-position: 28px -1579px
}

.team-list a.label-spurs {
    background-position: 28px -2461px
}

.team-list a.label-clippers {
    background-position: 26px -1756px
}

.team-list a.label-thunder {
    background-position: 28px -1415px
}

.team-list a.label-rockets {
    background-position: 27px -2213px
}

.team-list a.label-kings {
    background-position: 29px -2032px
}

.team-list a.label-blazers {
    background-position: 28px -1499px
}

.team-list a.label-grizzlies {
    background-position: 28px -2292px
}

.team-list a.label-lakers {
    background-position: 28px -1847px
}

.team-list a.label-nuggets {
    background-position: 27px -1251px
}

.team-list a.label-pelicans {
    background-position: 27px -2373px
}

.team-list a.label-suns {
    background-position: 29px -1936px
}

.team-list a.label-timberwolves {
    background-position: 26px -1330px
}

.team-list a.label-mavericks {
    background-position: 28px -2122px
}