/*normalize*/
*{
    padding: 0;
    margin:0;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

/*skins*/
.bulls .site-header{
    background:#740b27;
}

.bulls .main-navigation{
    background: #aa123b;
}

.bulls .main-menu .current{
    background: #d31145;;
}

.bulls .site{
    background: #cd1141 url(img/teams/bulls-bg.jpg) center 200px no-repeat;
}


.lakers .site-header{
    background: #441471;
}

.lakers .main-navigation{
    background: #552582;
}

.lakers .main-menu .current{
    background: #652A9C;;
}

.lakers .site{   

    background: #562581 url(img/teams/lakers-bg.jpg) center 200px no-repeat;
}


.suns .site-header{
    background: #B3430D;
}

.suns .main-navigation{
    background: #CE4E10;
}

.suns .main-menu .current{
    background: #F1590F;;
}

.suns .site{   
    background: #e45e1f  url(img/teams/suns-bg.jpg) center 200px no-repeat;
}


.hornets .site-header{
    background: #017c95;
}

.hornets .main-navigation{
    background: #008ca8;
}

.hornets .main-menu .current{
    background:#02a1c1;;
}

.hornets .site{   
    background: #008ca8   url(img/teams/hornets-bg.jpg) center 200px no-repeat;
}


.hawks .site-header{
    background: #cc2428;
}

.hawks .main-navigation{
    background: #df262b;
}

.hawks .main-menu .current{
    background:#ff353a;
}

.hawks .site{   
    background: #e13a3e   url(img/teams/hawks-bg.jpg) center 200px no-repeat;
}


.wizards .site-header{
    background: #023064;
}

.wizards .main-navigation{
    background: #003878;
}

.wizards .main-menu .current{
    background:#014899;
}

.wizards .site{   
    background: #002c5d   url(img/teams/wizards-bg.jpg) center 200px no-repeat;
}


.magic .site-header{
    background: #0169a6;
}

.magic .main-navigation{
    background: #0175b8;
}

.magic .main-menu .current{
    background:#0087d5;
}

.magic .site{   
    background: #007ec5 url(img/teams/magic-bg.jpg) center 200px no-repeat;
}


.heat .site-header{
    background: #8e002b;
}

.heat .main-navigation{
    background: #a40333;
}

.heat .main-menu .current{
    background:#c1063e;
}

.heat .site{   
    background: #98002e url(img/teams/heat-bg.jpg) center 200px no-repeat;
}


.cavaliers .site-header{
    background: #720130;
}

.cavaliers .main-navigation{
    background: #860038;
}

.cavaliers .main-menu .current{
    background:#a50347;
}

.cavaliers .site{   
    background: #850039 url(img/teams/cavaliers-bg.jpg) center 200px no-repeat;
}



.pistons .site-header{
    background: #c10b38;
}

.pistons .main-navigation{
    background: #e41447;
}

.pistons .main-menu .current{
    background:#f8285b;
}

.pistons .site{   
    background: #ec174d url(img/teams/pistons-bg.jpg) center 200px no-repeat;
}



.pacers .site-header{
    background: #002d62;
}

.pacers .main-navigation{
    background: #053c7c;
}

.pacers .main-menu .current{
    background:#084b98;
}

.pacers .site{   
    background: #002e62 url(img/teams/pacers-bg.jpg) center 200px no-repeat;
}



.bucks .site-header{
    background: #013c18;
}

.bucks .main-navigation{
    background: #00471b;
}

.bucks .main-menu .current{
    background:#076e2e;
}

.bucks .site{   
    background: #02471b url(img/teams/bucks-bg.jpg) center 200px no-repeat;
}



.raptors .site-header{
    background: #740b27;
}

.raptors .main-navigation{
    background: #aa123b;
}

.raptors .main-menu .current{
    background:#d31145;
}

.raptors .site{   
    background: #ce1040 url(img/teams/raptors-bg.jpg) center 200px no-repeat;
}



.knicks .site-header{
    background: #df7318;
}

.knicks .main-navigation{
    background: #f2862c;
}

.knicks .main-menu .current{
    background:#ff9c49;
}

.knicks .site{   
    background: #f58426 url(img/teams/knicks-bg.jpg) center 200px no-repeat;
}



.celtics .site-header{
    background: #06683c;
}

.celtics .main-navigation{
    background: #008348;
}

.celtics .main-menu .current{
    background:#0a9b5a;
}

.celtics .site{   
    background: #008348 url(img/teams/celtics-bg.jpg) center 200px no-repeat;
}



.nets .site-header{
    background: #0f0f0f;
}

.nets .main-navigation{
    background: #1e1e1e;
}

.nets .main-menu .current{
    background:#373737;
}

.nets .site{   
    background: #000 url(img/teams/nets-bg.jpg) center 200px no-repeat;
}



.sixers .site-header{
    background: #af0932;
}

.sixers .main-navigation{
    background: #c70b3a;
}

.sixers .main-menu .current{
    background:#ef1c51;
}

.sixers .site{   
    background: #ee154c url(img/teams/76ers-bg.jpg) center 200px no-repeat;
}




.warriors .site-header{
    background: #BD8204;
}

.warriors .main-navigation{
    background: #D29616;
}

.warriors .main-menu .current{
    background:#FDB927;
}

.warriors .site{   
    background: #fdb926 url(img/teams/warriors-bg.jpg) center 200px no-repeat;
}



.clippers .site-header{
    background: #025996;
}

.clippers .main-navigation{
    background: #006BB6;
}

.clippers .main-menu .current{
    background:#037FD6;
}

.clippers .site{   
    background: #006cb5 url(img/teams/clippers-bg.jpg) center 200px no-repeat;
}



.kings .site-header{
    background: #65369C;
}

.kings .main-navigation{
    background: #7241AC;
}

.kings .main-menu .current{
    background:#885AC0;
}

.kings .site{   
    background: #724c9f url(img/teams/kings-bg.jpg) center 200px no-repeat;
}



.jazz .site-header{
    background: #002B5C;
}

.jazz .main-navigation{
    background: #003775;
}

.jazz .main-menu .current{
    background:#004490;
}

.jazz .site{   
    background: #002c5d url(img/teams/jazz-bg.jpg) center 200px no-repeat;
}




.thunder .site-header{
    background: #00649c;
}

.thunder .main-navigation{
    background: #0371ae;;
}

.thunder .main-menu .current{
    background:#0083cc;
}

.thunder .site{   
    background: #007ec3 url(img/teams/thunder-bg.jpg) center 200px no-repeat;
}



.blazers .site-header{
    background: #9d1b1f;
}

.blazers .main-navigation{
    background: #ba262a;;
}

.blazers .main-menu .current{
    background:#e1383d;
}

.blazers .site{   
    background: #e03a3e url(img/teams/blazers-bg.jpg) center 200px no-repeat;
}



.nuggets .site-header{
    background: #be8407;
}

.nuggets .main-navigation{
    background: #d89609;
}

.nuggets .main-menu .current{
    background:#f6b220;
}

.nuggets .site{   
    background: #fdb926 url(img/teams/nuggets-bg.jpg) center 200px no-repeat;
}



.timberwolves .site-header{
    background: #04202d;
}

.timberwolves .main-navigation{
    background: #012a3e;
}

.timberwolves .main-menu .current{
    background:#023a56;
}

.timberwolves .site{   
    background: #061a23 url(img/teams/timber-wolves-bg.jpg) center 200px no-repeat;
}



.timberwolves .site-header{
    background: #04202d;
}

.timberwolves .main-navigation{
    background: #012a3e;
}

.timberwolves .main-menu .current{
    background:#023a56;
}

.timberwolves .site{   
    background: #061a23 url(img/teams/timber-wolves-bg.jpg) center 200px no-repeat;
}


.spurs .site-header{
    background: #031016;
}

.spurs .main-navigation{
    background: #031924;
}

.spurs .main-menu .current{
    background:#052535;
}

.spurs .site{   
    background: #030b0e url(img/teams/spurs-bg.jpg) center 200px no-repeat;
}



.rockets .site-header{
    background: #740b27;
}

.rockets .main-navigation{
    background: #aa123b;
}

.rockets .main-menu .current{
    background:#d31145;
}

.rockets .site{   
    background: #cf1141 url(img/teams/rockets-bg.jpg) center 200px no-repeat;
}



.grizzlies .site-header{
    background: #00235F;
}

.grizzlies .main-navigation{
    background: #053382;
}

.grizzlies .main-menu .current{
    background:#0540A4;
}

.grizzlies .site{   
    background: #00225f url(img/teams/grizzlies-bg.jpg) center 200px no-repeat;
}



.pelicans .site-header{
    background: #002B5B;
}

.pelicans .main-navigation{
    background: #013671;
}

.pelicans .main-menu .current{
    background:#03438A;
}

.pelicans .site{   
    background: #002c5d url(img/teams/pelicans-bg.jpg) center 200px no-repeat;
}



.mavericks .site-header{
    background: #065F9E;
}

.mavericks .main-navigation{
    background: #026AB3;
}

.mavericks .main-menu .current{
    background:#0278CB;
}

.mavericks .site{   
    background: #006cb5 url(img/teams/mavericks-bg.jpg) center 200px no-repeat;
}




.site{
    position: relative;
}


/*main css start*/

.site-branding{
    padding-top:20px;
    padding-bottom: 20px;
}

.skip-link{
    position: fixed;
    z-index: 9999;
    right:20px;
    bottom: 10px;
}


.main-navigation{
    height: 60px;
    line-height: 60px;
    background-color: #860038;
    position: relative;
}


.sliders{
    position: relative;
    height: 440px;
    margin-top: 20px;
    overflow: hidden;
    background: black;
}



.widget-title,
.panel-title{
    height: 39px;
    line-height: 39px;
    text-indent: 20px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #be9d53;
    background: #1e518c;
    z-index: 103;
    margin:0;
    margin-top: 20px;
    color:#fff;
}


.widget{
    border-top: 0 none;
    margin-top: 20px;
    background: #fff;
}

.widget .wiget-title{
    margin-top: 0;
}

.random-widget ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_meta ul,
.widget_archive ul{
    padding: 20px;
    list-style: none;
    border:1px solid #eaeaea;
    border-top: 0 none;
}


#recentcomments{
    background: #fafafa;
}

#recentcomments li{
    margin: 5px 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}


.grid-wrapper{
    padding: 3px;
    background: #fff;
}

.grid-wrapper img{
    max-width: 100%;
    min-height: 100px;
}

.grid-wrapper a{
    display: block;
    background: #fff;
    margin-bottom: 10px;
}

.grid-wrapper a span{
    position: absolute;
    margin-right: 15px;
    padding: 3px;
    bottom: 10px;
    display: none;
    color:#fff;
}

.grid-wrapper a:hover span{
    display: block;
}

.grid-wrapper a:hover img{
    opacity: .5;
}


.post-list{
    box-shadow: 0 4px 4px #ebebeb;
    -moz-box-shadow: 0 4px 4px #ebebeb;
    -ms-box-shadow: 0 4px 4px #ebebeb;
    -webkit-box-shadow: 0 4px 4px #ebebeb;
    border: 1px solid #d6d6d6;
    background:#fff;
}

.post-wrap{
    position: relative;
    box-shadow: 0 3px 6px #ebebeb;
    -moz-box-shadow: 0 3px 6px #ebebeb;
    -ms-box-shadow: 0 3px 6px #ebebeb;
    -webkit-box-shadow: 0 3px 6px #ebebeb;
    margin-top: 20px;
    height: 220px;
}

.ppost{
    padding: 20px;
    padding-top:0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
    height: 200px;
}



.post-wrap a{
    text-decoration: none;
    color:#000;
}

.pphover{
    position: absolute;
    left: -6px;
    top: 0;
    right:-6px;
    background: #f4faff;
    padding: 0 26px 20px 26px;
    box-shadow: 0 0 10px 4px #ebebeb;
    -moz-box-shadow: 0 0 10px 4px #ebebeb;
    -ms-box-shadow: 0 0 10px 4px #ebebeb;
    -webkit-box-shadow: 0 0 10px 4px #ebebeb;
    border-top: 1px solid #f4faff;
    border-bottom: 1px solid #f4faff;
}



.ptitle{
    line-height: 52px;
    height: 52px;
    overflow: hidden;
    font-size: 20px;
    margin:0;
}


.post-thumbnail{
    max-width: 140px;
    max-height: 100px;
    float:left;
}

.post-excerpt{
    margin-left: 160px;
    max-height: 110px;
    overflow: hidden;
}

.entry-footer{
    clear:both;
    padding-top: 10px;
    font-size: 14px;
    color:#7a7a7a;
}

.fr{
    float:right;
}

.fl{
    float: left;
}


.main-menu{
    line-height: 60px;
    height: 60px;
    overflow: hidden;
}

.main-menu li{
    float: left;
    list-style: none;
}

.main-menu li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
}







.single-post{
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}

.single-post .entry-header{
    border-bottom: 1px dotted #dbdbdb;
}

.entry-content p{
    margin:20px 0;
    text-indent: 2em;
    line-height: 28px;
}

.entry-content img{
    margin:0 auto;
    max-width: 99%;
}

.entry-content p img{
    margin:0 auto;
    max-width: 99%;
    margin-left: -32px;
}

.entry-content ul{
	padding: 0;
	margin: 0;
	margin-left: 2em;
    list-style: none;
    background: rgb(248, 243, 243);
    line-height: 24px;
}





.site-footer{
    background: #333;
    margin-top: 20px;
}

.footer-menus{
    padding-bottom: 20px;
    background: url(img/foot_line_bg.png) repeat-x bottom;
}


.fmenu-title{
    height: 65px;
    line-height: 65px;
    color: #fff;
    font-size: 16px;
    display: block;
}

.fmenu ul li{
    margin-bottom: 5px;
    color: #7a7a7a;
    font-size: 14px;
    display: block;
    list-style: none;
}

.footer-copyright{
    padding: 30px 0;
    line-height: 30px;
    color: #7A7A7A;
    font-size: 16px;
    text-align: center;
    font-family: "Microsoft YaHei";
}



/* comments */

.comments-area{
    padding: 10px;
    background:#fff;
}

.comment-respond{
    margin-top: 10px;
}

.comment{
    border-bottom:1px solid #DDD;
    list-style: none;
    margin: 5px 0;
}

.comment:hover{
    background: ghostwhite;
}

.comment.thread-even.parent{
    background: #fafafa;
}

.comment-reply-link,
.comment-metadata{
    font-size: 11px;
    color:grey;
}

ol.children{
    border-top:1px solid #DDD;
}

.comment.depth-2,
.comment.depth-3{
    margin-left: 40px;
    border-bottom: 0 none;
}


.comments-title,
.comment-reply-title{
    font-size: 24px;
    line-height: 36px;
    border-bottom: 3px double #1e518c;
}

.comment-notes{
    font-size: 11px;
    color:grey;
    margin: 5px 0;
}

.comment-form label{
    display: block;
    margin: 5px 0;
}

textarea#comment{
    width:98%;
    min-height: 100px;
    max-height: 160px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    float: left;
    width:49%;
}

.comment-form-author input,
.comment-form-email input{
    width:100%;
}


.comment-form-url{
    display: none;
}

.form-submit{
    clear: both;
    padding-top: 10px;
}

.form-submit .submit{
    background: #379BE9;
    padding:10px;
    border:0 none;
    text-align: center;
    color:#fff;
}



/*widgets*/

.media-wrap{
}

.media-image{
    width:30%;
    float: left;
    padding: 8px;
}
.media-image img{
    width:100%;
    max-height: 80px;
}

.media-title{
    width:69%;
    padding: 8px;
    float: left;
    font-size: 14px;
}

.media-summary{
    height: 80px;
    overflow: hidden;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #e5e5e5;
}

.media-summary:hover{
    background: #edf1f4;
    border-left-color: #1377c3;
}





@media (max-width: 500px){
    .site-branding{
        text-align: center;
    }

    .fmenu{
        text-align: center;
    }
    
    .motto{
        display: none;
    }
}


/* posts navigation */
.posts-navigation{
    background: #fff;
    margin: 10px 0;
    padding: 10px;
}


.box-title{
    text-align: center;
    line-height: 36px;
    font-weight: 400;
    color: #454545;
    font-size: 16px;
    background: url(img/navbg.png) no-repeat 50% center;
}

.prev-post,
.next-post{
    font-size: 16px;
    height: 100px;
}

.prev-page img{ 
    margin-right: 10px;
    float: left;
}

.prev-post label,
.next-post label{
    display: block;
    font-size: 11px;
    color:gray;
}

.prev-post img{
    margin-right: 10px;
    float: left;
    position: relative;
    top:-30px;
}

.next-page,
.next-post{
    text-align: right;
    vertical-align: middle;
}

.prev-page,
.next-page{
    line-height: 100px;
    font-size: 24px;
}

.next-post img{
    float:right;
    margin-left: 10px;
    position: relative;
    top:-20px;
}

.next-page img{
    float:right;
    margin-left: 10px;
    position: relative;
}


/* theme switcher */

li.swither-icon{
    float:right;
    width:70px;
    height: 60px;
    background: url(img/theme-icon.png) 50% 50% no-repeat;
    cursor: pointer;
}

li.swither-icon:hover{
    background: url(img/theme-icon.png) 50% 52% no-repeat;
}



.swither-icon a{
    display: block;
    width:100%;
    height: 50px;
    text-indent: 1000px;
    overflow: hidden;
}


.nav-team {
    position: absolute;
    top:60px;
    left: 0;
    right:0;
    border: 2px solid #002f50;
    background: #fff;
    z-index: 999;
    display: none;
}

.east-team {
    /* border-left: 2px solid #002f50; */
    float: left;
    list-style:none;
}

.west-team {
    /* border-right: 2px solid #002f50; */
    float: left;
    list-style:none;
}

.east-team .team-title {
    border-right: 1px solid #072840
}

.west-team .team-title {
    border-left: 1px solid #072840
}

.east-team li {
    border-right: 1px solid #e5e5e5
}

.west-team li {
    border-left: 1px solid #e5e5e5
}

li.gray {
    background: #f5f5f5
}

.team-title {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #002f50
}

.team-area {
    height: 40px
}

.team-area span {
    width: 33%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    float: left
}

.team-list {
    height: 70px
}

.team-list a:hover {
    background-color: #e5e5e5
}

.team-list a {
    padding-left: 101px;
    width: 33%;
    height: 70px;
    line-height: 70px;
    color: #2866b6;
    font-size: 14px;
    background: url(img/homepageteamlogos.png) no-repeat;
    float: left;
}

@media(max-width:768px){
    .team-list a {
        text-indent: -2000em;
    }

    .nav-team .team-list a{
        background-position-x: -10px!important;
        padding-left: 20px;
    }
    .team-area span{
        font-size: 11px;
        overflow: hidden;
    }
}

.team-list a.label-hornets {
    background-position: 25px -922px
}

.team-list a.label-cavaliers {
    background-position: 28px -492px
}

.team-list a.label-raptors {
    background-position: 26px -330px
}

.team-list a.label-hawks {
    background-position: 27px -839px
}

.team-list a.label-bulls {
    background-position: 31px -418px
}

.team-list a.label-knicks {
    background-position: 27px -167px
}

.team-list a.label-wizards {
    background-position: 29px -1170px
}

.team-list a.label-pistons {
    background-position: 27px -572px
}

.team-list a.label-celtics {
    background-position: 28px -8px
}

.team-list a.label-magic {
    background-position: 26px -1084px
}

.team-list a.label-pacers {
    background-position: 27px -651px
}

.team-list a.label-nets {
    background-position: 28px -93px
}

.team-list a.label-heat {
    background-position: 27px -1006px
}

.team-list a.label-bucks {
    background-position: 29px -740px
}

.team-list a.label-sixers {
    background-position: 29px -248px
}

.team-list a.label-warriors {
    background-position: 28px -1667px
}

.team-list a.label-jazz {
    background-position: 28px -1579px
}

.team-list a.label-spurs {
    background-position: 28px -2461px
}

.team-list a.label-clippers {
    background-position: 26px -1756px
}

.team-list a.label-thunder {
    background-position: 28px -1415px
}

.team-list a.label-rockets {
    background-position: 27px -2213px
}

.team-list a.label-kings {
    background-position: 29px -2032px
}

.team-list a.label-blazers {
    background-position: 28px -1499px
}

.team-list a.label-grizzlies {
    background-position: 28px -2292px
}

.team-list a.label-lakers {
    background-position: 28px -1847px
}

.team-list a.label-nuggets {
    background-position: 27px -1251px
}

.team-list a.label-pelicans {
    background-position: 27px -2373px
}

.team-list a.label-suns {
    background-position: 29px -1936px
}

.team-list a.label-timberwolves {
    background-position: 26px -1330px
}

.team-list a.label-mavericks {
    background-position: 28px -2122px
}




/* search form */

.search-form{
    border:1px solid #1e518c;
    padding:0;
}

.search-form .screen-reader-text{
    display: none;
}

.search-field{
    padding-left: 10px;
    width:77%;
    height: 40px;
    border:0 none;
    color:gray;
}

.search-submit{
    width:20%;
    height: 40px;
    background: #1e518c;
    color:#fff;
    float: right;
    border:0 none;
}


.motto{
    max-width: 50%;
    float:right;
    color:#fff;
    text-align: right;
    line-height: 36px;
}


.post-grid{
    background-color: #fff;
    padding: 10px;
}

.post-grid a{
    text-decoration: none;
}
.grid-item{
    margin-bottom: 10px;
    border:1px solid #ededed;
}

.grid-item:hover{
    outline:1px solid #f40;
}
.grid-item:hover .grid-thumbnail{
    border-bottom: 1px solid #f40;
}

.grid-thumbnail{
    width:100%;
    border-bottom:1px solid #ededed;
}

.gtitle{
    padding: 0 10px;
    line-height: 16px;
    font-size: 12px;
    height: 48px;
    overflow: hidden;
    font-family: arial,'Hiragino Sans GB',"\5b8b\4f53",sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3d3d3d;
}